/node_modules
/public/build
/public/hot
/public/storage
/public/assets
/public/plugins
/public/plugins-rtl
/public/resources
/public/uploads
/public/video_content
/public/audio_content
/public/instructor_photo
/public/assessment
/storage/*.key
/storage/logs/*.log
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
package.json
package-lock.json
vite.config.js
/DB/*.sql
/.idea
/.vscode
